.box-container {
    display: flex;
    flex-direction: row wrap;
}

.page-head {
    width: 100vw;
}


.page-ingress {

}

.page-ingress-image {

}

@media (max-width = 1200)
/** You can put the entire '.box-container' inside a '@media'-wrapper, or you can split it and have the shared part at the top and the specifics inside the corresponding wrapper. I don't know what is correct. However, I feel confident there are _very_ strong opinions on the internet... ;-) **/
.box-container {
    justify-content: flexstart;
}