.container {
    display: flexbox;
    flex-flow: columt wrap;
}

.box1 {
    width: auto;
    height: auto;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(255, 200, 200);
}

.box2 {
    width: auto;
    height: auto;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(200, 255, 200);
}

.box3 {
    width: auto;
    height: auto;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(200, 200, 255);
}