
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #909090;
    overflow: auto;
    width: 100%;
    height: auto;
    position: relative; /* if 'fixed' it stays at top of page */
  }
  
.navbar li a {
    display: block;
    color: #000;
    float: left;
    padding: 15px;
    text-decoration: none;
    font-weight: 600;
  }
   
.navbar li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
.navbar li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
    
div.content {
     margin-left: 0;
    }