.content {
    box-sizing: content-box;
    margin: 20px;
    border: 4px;
    padding: 10px;
    border-style: dashed;
    border-radius: 10%;
    border-color: brown;
}

.border {
    box-sizing: border-box;
    margin: 20px;
    border: 4px;
    padding: 10px;
    border-style: dashed;
    border-radius: 10%;
    border-color: brown;
}