/* https://www.w3schools.com/css/css_combinators.asp 
    ::cue-regionwords: Combinators; Descendancy; Child*/

ol li {
    color: blue;
}

ol > li {
    text-decoration: underline;
}

ol * li {
    font-weight: lighter;
}