.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: aqua;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    background-color: azure;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: darkturquoise;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
    background-color: tan;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
    background-color: mediumaquamarine;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
    background-color: darksalmon;
  }

  .wrapper-half {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .left-half {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .right-half {
    grid-column: 3 / 5;
    grid-row: 1;

  }